.image {
  position: absolute;
  @include respond(phone) {
    height: 500px;
  }

  &__top {
    top: 0;
    right: 0;

    @include respond(phone) {
      right: -150px;
    }
  }

  &__bottom {
    left: 0;
    bottom: 0;

    @include respond(phone) {
      display: none;
    }
  }
}

.main {
  width: 100%;
  max-width: 65rem;
  text-align: center;
  z-index: 100;

  @include respond(laptop-landscape) {
    width: 95%;
  }

  &__title {
    font-size: clamp(1.5rem, calc(1vw + 1.078rem), 2rem);
    font-weight: 300;
    color: $color-tertiary-light;
    margin: 0 0 1em 0;

    @include respond(phone) {
      margin: 2em 0;
    }
  }

  &__switch {
    margin-bottom: 4em;
    font-size: clamp(0.9rem, calc(0.6vw + 0.675rem), 1.1rem);
  }

  &__pricing {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }

    @include respond(laptop-portrait) {
      flex-direction: column;
      gap: 1rem;
    }

    &--1,
    &--2,
    &--3 {
      display: flex;
      flex-direction: column;

      @include respond(laptop-portrait) {
        width: 100%;
        border-radius: $sm-rounded;
      }

      @include respond(phone) {
        width: 95%;
        border-radius: $sm-rounded;
      }
    }

    &--1 {
      border-top-left-radius: $sm-rounded;
      border-bottom-left-radius: $sm-rounded;
    }

    &--3 {
      border-top-right-radius: $sm-rounded;
      border-bottom-right-radius: $sm-rounded;
    }

    &--1,
    &--3 {
      flex: 0 1 25em;
      padding: 2em;
      color: $color-tertiary-light;
      background-color: $color-white;
      box-shadow: 1em 1em 1.5em rgba($color-tertiary-dark, 0.25);

      & p {
        color: $color-tertiary-dark;
      }

      & button {
        color: $color-white;
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
        border: 1px solid $color-primary-light;

        &:hover {
          color: $color-primary-dark;
          background: $color-white;
          border: 1px solid $color-secondary-dark;
        }
      }
    }

    &--2 {
      flex: 0 1 24em;
      padding: 3.5em 2em;
      color: $color-white;
      border-radius: $sm-rounded;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );

      @include respond(phone) {
        padding: 2em;
      }

      & button {
        color: $color-primary-dark;
        background-color: $color-secondary-light;
        border: 1px solid $color-white;

        &:hover {
          background: none;
          color: $color-white;
        }
      }
    }
  }

  &__plan {
    font-size: clamp(0.9rem, calc(0.6vw + 0.675rem), 1.1rem);
    font-weight: 300;
    text-transform: capitalize;
  }

  &__price {
    font-size: clamp(2rem, calc(1vw + 1.625rem), 2.5rem);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & span {
      font-size: clamp(3.5rem, calc(1vw + 3.125rem), 4rem);
    }
  }

  &__benifits {
    width: 100%;
    padding: 0;
    margin: 1em 0 2em 0;

    @include respond(phone) {
      margin: 0 0 1em 0;
    }

    & li {
      font-size: clamp(0.9rem, calc(0.6vw + 0.675rem), 1.1rem);
      list-style-type: none;
      padding: 0.8em 0;
      border-bottom: 1px solid rgba($color-secondary-dark, 0.5);

      &:first-of-type {
        border-top: 1px solid rgba($color-secondary-dark, 0.5);
      }
    }
  }
}
